body {
    padding: 0;

}

h1 {
    color: black;
    text-shadow: 2px 4px 4px goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button {
    font-size: 1.2rem;
    padding: 13px 20px;
    border-radius: 14px;
    background: blue;
    opacity: 0.8;
}
button a {
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}