.container{
    background-color: teal;
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr ;
    gap: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
   

}

.box{
    background-color: aqua;
    border: 2px solid black;
  

}

#box1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#box2{
    grid-column-start: 3;
    grid-column-end: 5;
    
   
}
