.container{
    background-color: yellowgreen;
    display: grid;
    height: 900px;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: aliceblue;
    gap: 20px;
   
}

.box{
    background-color: black;
    border: 2px solid balck;
}
#box1{
    grid-row-start: 1;
    grid-row-end: 5;
}