.container{
    background-color: aqua;
}

.box{
    background-color: rgb(68, 214, 55);
}

/* decendant selector space p selects all the chil and grand son p  */
/* only child selector >  */

.container >p{
    color: rgb(236, 10, 10);
}

/* this + is used to adject sibling seletor  */
.container +p{
    color: yellowgreen;
}
/* sebling selector ~ */
.container~p{
    color: violet;
}
li:first-child{
    color: aqua;
}

li:nth-child(odd){
    color: yellow;
}

li:last-child{
    color: gold;
}
