/* inline  <p style="propertyname:value"></p> 
   internal  <style></style> are in head
   external  diff file to atach for the css filemane.css <link>
    */
/* lorem is usd to give text  */
    /* selecters are those to select the eg
    tag selector <h1> <p> <a>
    class selector
    id selector  */
    