.box {
  background-color: aqua;
  height: 250px;
  width: 250px;
  margin: 30px;
  padding: 100px 60px 10px 10xp;
  box-sizing: border-box;
}

.para {
  background-color: rgb(69, 9, 130);
  margin: 9px 90px 0px 90px;
}

@media screen and (min-width: 500px) {
  body {
    background-color: rgb(80, 19, 165);
  }
  .para{
    background-color: brown;
  }
}
