@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

body {
  background-color: #155263;
}
/* text prperty  */
.para1 {
  background-color: #ff9a3c;
  /* text-align: justify , left ,center  */
  text-align: justify;
  color: #35312d;
  font-family: "gills";
  height: 250px;
  width: 360px;
  word-spacing: 4%;
  line-height: 1.3em;
}

.para2 {
  background-color: #ccd2da;
  color: silver;

  /* letter-specing this tells the space between the letters */
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 9px;
  font-weight: 600;
  text-shadow: 2px 3px 4px purple;
}
.cedarville-cursive-regular {
  background-color: #ccd2da;
  color: goldenrod;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
