body {
    background-color: goldenrod;
    box-sizing: border-box;
}
.test2 {
    text-align: justify;
    height: 100px;
    width: 300px;
    background-color: green;
    padding: 20px;
}


/* css text property */
.test1 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 19px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 3px 4px red;
    text-indent: 9px;

    /* other css */
    color: green;
    background-color: white;
    height: 80px;
    width: 300px;
    padding: 20px;
}
.test3 {
    height: 300px;
    width: 350px;
}